body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    color: #eee;
    background-color: #252525;
}
h3 {
    margin-top: 0;
}
main, header {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.desk-mat {
    display: flex;
    background: rgb(27,1,52);
    background: linear-gradient(145deg, 
            rgba(27,1,52,1) 0%,
            rgba(112,23,198,1) 44%,
            rgba(250,0,255,1) 100%);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 600px;
    border-radius: 15px;
    box-shadow: 3px 6px 15px rgba(0, 0, 0, .4);
    
}

.mb-20 {
    margin-bottom: 20px;
}
.mr-10 {
    margin-right: 10px;
}

.mt-2 {
    margin-top: 2px;
}
.mt-20 {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}
.key {
    box-sizing: border-box;
    color: #111;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 2px;
    cursor: pointer;
    height: 55px
}

.key:hover {
    background-color: #ccc;
}

.key1 {
    width: 50px;
}

.key2 {
    width: calc((50px *2) + 2px);
}

.key1\.25 {
    width: calc((50px * 1.25) + .5px);
}

.key1\.5 {
    width: calc((50px * 1.5) + 1px);
}

.key1\.75 {
    width: calc((50px * 1.75) + 1.5px);
}

.key2\.25 {
    width: calc((50px * 2.25) + 2.5px);
}

.key2\.5 {
    width: calc((50px * 2.5) + 3px);
}

.key2\.75 {
    width: calc((50px * 2.75) + 3.5px)
}
.key6\.25 {
    width: calc((50px * 6.25) + 10.5px)
}

.selected {
    border-color: lightblue;
    background-color: lightgray;
}
.key span {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 12px;
}

.gap-1 {
    width: 52px;
    height: 55px;
}

.gap-half {
    width: 26px;
    height: 55px;
}

.colors-form {
    display: flex;
    align-items: center;
}

input[type=color] {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #252525;
}

input[type=color]:focus {
    border: none;
    outline: none;
}